:root{
    --false: #E81B1B;
    --true:#009068;
}
#switch{
    background-color: gray;
    width: 5em;
    height: 1.5em;
    display: inline;
    align-items: center;
    justify-content: right;
    transition: justify-content 10s ease-in-out;
    
}
#btn{
    height: 1em;
    width: 1em;
    background-color: var(--false);
    /* margin: 1em; */
    margin-left: 0.2em;
    margin-right: 0.2em;
}
#btn:checked{
    background-color: var(--true);
}
#revv{
    background-color: blue;
}